/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.mat-drawer{
    background-color: #cccccc !important;
    color: #333333 !important;
}
.mat-toolbar{
    background-color: #003380;
    color: white;
}

::ng-deep .mat-form-field-placeholder{

    color: #404040;
  }
  
  ::ng-deep .mat-focused .mat-form-field-placeholder{
  
    color: #404040;
  }

  ::ng-deep .mat-form-field-underline .mat-form-field-ripple{

    background-color: #404040;
  }
  
  ::ng-deep .mat-form-field-underline{
  
    background-color: #404040;
  }