<mat-drawer-container fxFlexFill class="container background" >
    <mat-drawer #drawer class="filter-container" mode="side" opened >
      <h2>Filters:</h2>

      <h3>Categories:</h3>
      <div *ngFor="let cat of dataService.categories" >
          <mat-checkbox [(ngModel)]="cat.selected"  [value]="cat.name" (change)="updateFilter()">{{cat.name}}</mat-checkbox>
      </div>
      <hr>
      <div *ngFor="let attr of dataService.attributesList">
        <h3>{{attr}}</h3>
          <div *ngFor="let val of dataService.attributes[attr]" >
              <mat-checkbox [(ngModel)]="val.selected"  [value]="val.name" (change)="updateFilter()">{{val.name}}</mat-checkbox>
          </div>
          <hr>
      </div>

      <mat-slide-toggle class="toggle" (change)="updateFilter()" [(ngModel)]="dataService.available">Available Only</mat-slide-toggle>
      <hr>
      <button mat-raised-button color="accent" (click)="editData()">Edit Data</button>
    </mat-drawer>

    <app-widget-list fxFlexFill></app-widget-list>
  
  </mat-drawer-container>
