.filter-container{
    padding: 20px;
    width: 300px;
}
.background {
    background-color: #e6e6e6 !important;
    color: black !important;
}
.toggle{
    margin-top: 15px;
    margin-bottom: 15px;
}