<!--The content below is only a placeholder and can be replaced.-->
<div class="container background" fxLayout="column" fxFlexFill>
  <div fxFlex="nogrow" fxLayout="row">
  <mat-toolbar>
      <a (click)=navHome(); routerLinkActive="active" class="app-title">Widget Store</a>

    <button class="top-right" mat-icon-button (click)="goToCart()">
        <mat-icon matBadge="15" matBadgeColor="accent">shopping_cart</mat-icon>
        <span style="font-size: 12"><b>( {{dataService.orderItems.length}} )</b></span>
    </button>
    
  </mat-toolbar>
</div>

  <div fxFlex="fill" fxLayout="row">
        <main fxFlexFill>
          <router-outlet></router-outlet>
        </main>
</div>

