<div fxFlexFill class="container" fxLayout="column">

  <mat-accordion class="background">
    <mat-expansion-panel class="background">
      <mat-expansion-panel-header class="background">
        <mat-panel-title class="background">
          Edit Quantities
        </mat-panel-title>
        <mat-panel-description class="background">
          Edit the quantities of existing inventory
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card fxLayout="row" *ngFor="let widget of dataService.all" class="card quant-item">
        <div class="quant-item-content">
          <b>Id: </b> {{widget.id}}
        </div>
        <div class="quant-item-content">
          <b>Name: </b> {{widget.widget}}
        </div>
        <div class="quant-item-content float-right" fxLayout="row">
          <label style="margin-right: 10px;"><b> Quantity: </b></label>
          <input style="margin-right: 10px; width: 50px;" matInput type="number" [(ngModel)]="widget.quantity">
          <button color="accent" mat-raised-button (click)="updateQuantity(widget.id, widget.quantity)">Update</button>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel class="background">
      <mat-expansion-panel-header class="background">
        <mat-panel-title class="background">
          Add New Widget
        </mat-panel-title>
        <mat-panel-description class="background">
          Add a new widget to inventory
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card fxLayout="column" class="card">
        <mat-form-field class="pad">
          <mat-select placeholder="Widget Type" [(ngModel)]="newWidget.widget">
            <mat-option *ngFor="let type of dataService.widgets" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="pad">
          <mat-select placeholder="Category" [(ngModel)]="newWidget.category">
            <mat-option *ngFor="let cat of dataService.categories" [value]="cat.name">
              {{cat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="pad" *ngFor="let attr of dataService.attributesList">
          <mat-select placeholder="{{attr}}" [(ngModel)]="newWidget[attr]">
            <mat-option *ngFor="let val of dataService.attributes[attr]" [value]="val.name">
              {{val.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="pad">
          <input matInput placeholder="Quantity" type="number" [(ngModel)]="newWidget.quantity">
        </mat-form-field>
        <mat-form-field class="pad">
          <input matInput placeholder="Price (Dollars)" type="number" [(ngModel)]="newWidget.price">
        </mat-form-field>

        <button class="add-button" mat-raised-button (click)="addWidget()">Add Widget</button>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel class="background">
      <mat-expansion-panel-header class="background">
        <mat-panel-title class="background">
          Add New Feilds
        </mat-panel-title>
        <mat-panel-description class="background">
          Add things like an additional widgter type, category, or attribute value
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card fxLayout="column" class="card">

        <div>
          <mat-form-field class="pad">
            <input placeholder="Add New Category" matInput type="text" [(ngModel)]="category">
          </mat-form-field>
          <button color="accent" mat-raised-button (click)="dataService.addDataValue('category', category)">Add
            Category</button>
        </div>
        <div>
          <mat-form-field class="pad">
            <input placeholder="Add New Widget Type" matInput type="text" [(ngModel)]="newWidgetType">
          </mat-form-field>
          <button color="accent" mat-raised-button (click)="dataService.addDataValue('widget', newWidgetType)">Add
            Widget Type</button>
        </div>
        <div *ngFor="let attr of dataService.attributesList">
          <mat-form-field class="pad">
            <input placeholder="Add New {{attr}}" matInput type="text" [(ngModel)]="newAttributeObject[attr]">
          </mat-form-field>
          <button color="accent" mat-raised-button (click)="dataService.addDataValue(attr, newAttributeObject[attr])">Add
            {{attr}}</button>
        </div>

      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>


</div>