.quant-item {
    width: calc(100% -30px);
    margin: 15px;
    height: 80px;
    
}
.quant-item-content{
    vertical-align: middle;
    margin-left: 50px;
}
.float-right {
    position: absolute;
    right: 30px;
}

.background {
    background-color: #e6e6e6 !important;
    color: black !important;
}

.card {
    background-color: #f7f7f7 !important;
    color: #333333 !important;
}

.pad{
    margin: 10px;
}

.add-button{
    background-color: #013380;
    color: white;
}