<div fxFlexFill fxLayout="column" class="pad">
  <h2>Order Id: {{id}}</h2>
  <div *ngIf="id == 'none'" class="order-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Order Id" color="primary" [(ngModel)]="formId">
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="searchOrderId()">Search</button>
  </div>
  <div fxFlexFill *ngIf="id != 'none'">
    <app-cart-item *ngFor="let item of dataService.orderItems" [item]="item"></app-cart-item>

    <button mat-raised-button style="background-color: #cc0000; color:white;" (click)="deleteOrder()">Delete This Order</button>
  </div>
  
</div>
