.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .pad{
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  .order-form{
      margin: 30px;
      display: inline-block;
  }