.widget-item{
    width: 300px;
    margin: 20px;
    background-color: #f7f7f7 !important;
    color: #333333 !important;
}
.attribute-value{
    float: right;
}
    
.remove-button{
    background-color: #cf3917;
    color: white;
    width: 100%;
}
