<mat-card class="widget-item">
    <h3>{{item.widget}}</h3>
    <div *ngFor="let key of objectKeys(item)">
        <p *ngIf="key != 'id' && key != 'widget' && key != 'quantity'"><b>{{key}}:</b>  <span class="attribute-value">{{item[key]}}</span></p>
    </div>
    
    <button  mat-raised-button class="remove-button" (click)="removeFromOrder()">Remove From Order</button>
  </mat-card>
