.widget-item{
    width: 300px;
    margin: 20px;
    background-color: #f7f7f7 !important;
    color: #333333 !important;
}
.attribute-value{
    float: right;
}
    
.add-button{
    background-color: #003380;
    color: white;
    width: 100%;
}

.disabled{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    margin: 20px;
    background-color: rgba(217, 217, 217, .5) !important;
    color: #333333 !important;
    z-index: 10;
}