<mat-card class="widget-item">
  <h3>{{widget.widget}}</h3>
  <div *ngFor="let key of objectKeys(widget)">
      <p *ngIf="  key != 'widget'"><b>{{key}}:</b>  <span class="attribute-value"><span *ngIf="key == 'price'">$</span>{{widget[key]}}</span></p>
  </div>
  
  <button *ngIf="widget.quantity > 0" mat-raised-button class="add-button" (click)="addToOrder(widget)">Add To Order</button>
  <h2 style="color: #e64019"  *ngIf="widget.quantity == 0">Out of Stock</h2>
</mat-card>

